



.hero{
    margin:4rem 2rem 4.4rem 2rem ;
    height: 100%;
    padding-bottom: 5rem;
}

.explore{
    padding:  0 auto;
    margin-top: 5rem;
}

.circlie{
        width: 14.375rem;
        height: 14.375rem;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
}

.h1{
    font-size: 4.3rem;
    letter-spacing: 7px;
    font-weight: 500;
}

.description{
    font-size: .85rem;
    text-align: center;
}

@media(min-width: 475px){
    .hero{
        display: flex;
        height: 100%;
        width: 100%;
        margin:4rem 2rem 0rem 2rem  ;
        padding-bottom: 7rem;
        padding-right: 2rem;
    }
    .explore{
        width: 50vw;
        padding: 0 4rem;
        margin-top: 7rem;
    }
    .question--box{
        width: 50vw;
        
    }
    .circle{ 
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    .h1{
        font-size: 5rem;
        letter-spacing: 3px;
        font-weight: 500;
    }
    .description{
        font-size: .85rem;
        text-align: left;
    }
}

@media(min-width: 875px){
    .hero{
        display: flex;
        height: 100%;
        padding-bottom: 4rem;
        margin: 4rem 2rem rem 2rem  ;
    }
    .explore{
        width: 50vw;
        padding: 0 10rem;
        height: 20rem;
        margin-top: 5rem;
        /* width: 15rem */
    }
    .question--box{
        width: 50vw;
        
    }
    .circle{
        width:12.4375rem;
        height: 12.4375rem;
        border-radius: 50%;
    }

    .description{
        font-size: .85rem;
        text-align:left;
        line-height: 1.4rem;
        padding-right: 10rem;
    }
}
.h3{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.69rem;
}


.so{
    letter-spacing: 2px;

}

