

.hero--page{
    height: 100vh;
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Tablet media query */
@media(min-width: 475px){
    .hero--page{
        height: 100vh;
        background-image: url("./assets/home/background-home-Tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
/* Desktop media query */
@media(min-width: 875px){
    .hero--page{
        height: 100vh;
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}