
.navbar{
    margin-bottom: -10rem;
}

/* @media(min-width:470px){ */
    .sc-link{
        backdrop-filter: blur(20px);
        /* this is for the blur background effect */
    }
/* } */

.navbar  ul  li a {
    position: relative;
    cursor: pointer;
}

.navbar  ul  li a::after{
    content: "";
    height: 4px;
    width: 0;
    background-color: aliceblue;
    position: absolute;
    left: 0;
    bottom: -19px;
    /* bottom: 8px; */
    transition: 0.3s;
}

.navbar  ul  li a:hover::after{
    width: 100%;

}

.overlay{
    height: 100%;
    /* display: block; */
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.95);
}
.overlay .closebtn{
    position: absolute;
    font-size: 30px;
}