
.page{
    height: 100%;
    background-image: url("./assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}

/* Tablet media query */
@media(min-width: 475px){
    .page{
        height: 100%;
        width: 100%;
        background-image: url("./assets/home/background-home-Tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
/* Desktop media query */
@media(min-width: 875px){
    .page{
        height: 100%;
        background-image: url("./assets/home/background-home-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}