

.technology{
    width: 100%;
    height: 100%;
    background-image: url("./assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro{
    font-size: .85rem;
}
.name{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
}
.details-box{
    margin-left: 4rem;
    margin-right: 2rem;
}

.circla{
    cursor: pointer;
    height: 3rem ;
    width: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 1rem;
    padding-top: .7rem;
}

.circla:hover{
    background-color: aliceblue;
    color: black;
    font-weight: 700;
}
@media(min-width:765px){
    .technology{
        width: 100%;
        height: 100%;
        background-image: url("./assets/technology/background-technology-tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .tech-body{
        display: flex;
        padding-bottom: 5rem;
    }

    .image-box{
        min-width: 40vw;
    }

}


@media(min-width:875){
    .technology{
        width: 100%;
        height: 100%;
        background-image: url("./assets/technology/background-technology-tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tech-body{
        display: flex;
    }

    /* .img-box{
        max-width: 50%;
    }
    .other-details{
        width: 50vw;
    } */
}

